//output:index.html

doctype html
//TODO 1. add a Contact section
//TODO 2. improve About section text
//TODO 3. Find out how to make the dropdown links work on my phone
//TODO 4. Fix the contents of the footer for mobile
//TODO 5. resize portfolio images to center contents

//TODO: Animate the portfolio section, so when the user clicks on an image the space between the image-rows opens up and shows details about the projects. Also make the other project images more opaque.


html
  head
    title Zecharia's Portfolio
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="reset.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  body
    div.bgimage
    header
      nav.main-nav
        a(href='#portfolio') My Portfolio
        a(href='#about') About Me
        a(href='#intro') Top
      nav.mobile-nav
        div.dropdown
          button.dropbtn Menu
            div.dropdown-content
              a(href='#intro') Top
              a(href='#about') About Me
              a(href='#portfolio') My Portfolio

      h2 Z

    section.intro#intro
      h1 Zecharia Mahler
      h3 Front End Developer

    section.about

      h1#about About Me:

      div.aboutgroup1
        img(src='https://avatars2.githubusercontent.com/u/8883408?v=3&s=466' alt='Me')

        p I am a huge fan of technology and the web. Starting a few months ago I have dedicated myself to improving my knowledge of web design and development.

      h3 My Skills:

      ul
        li HTML, CSS, Javascript
        li Bootstrap, and Jquery
        li git, github

    section.portfolio
      h1#portfolio My Projects:
      div.imagerow
        a(href='https://crowsveldt.github.io/FreeCodeCamp-Tribute-Page/' target='_blank')
          img(src='images/Stan Rogers.png' alt='Stan Rogers Tribute Page')
        a(href='https://crowsveldt.github.io/FreeCodeCamp-Random-Quote-Generator/' target='_blank')
          img(src='images/Random Quote.png' alt='Random Quote Generator')
        a(href='https://codepen.io/CrowsVeldt/pen/EgyGpP' target='_blank')
          img(src='images/Local Weather.png' alt='Local Weather App')
      div.imagerow
        a(href='https://crowsveldt.github.io/Free-Code-Camp-Wikipedia-Viewer/' target='_blank')
          img(src='images/Wiki Viewer.png' alt='Wikipedia Viewer')
        a(href='https://crowsveldt.github.io/do-not-go-gentle-into-that-good-night/' target='_blank')
          img(src='images/Do Not Go Gentle.png' alt='Animated Poem')
        img(src='http://www.360fashion.net/wp-content/uploads/2012/09/image-placeholder-500x500.jpg' alt='Placeholder Image')

    footer
      div.links
        p Check me out:
        a(href='https://www.linkedin.com/in/zechy-mahler-2a0738a2?trk=nav_responsive_tab_profile' target='_blank')
          span.fa.fa-linkedin   Linkedin
        a(href='https://github.com/CrowsVeldt' target='_blank')
          span.fa.fa-github   Github
        a(href='http://codepen.io/CrowsVeldt/' target='_blank')
          span.fa.fa-codepen  Codepen
      div.copyright
        p Made with Atom, Pug, and Sass by Zecharia Mahler.
        p Copyright 2016
