//output:index.html

doctype html
//TODO 1. add a Contact section
//TODO 2. improve About section text
//TODO 3. Find out how to make the dropdown links work on my phone
//TODO 5. resize portfolio images to center contents
//TODO 6. size up fonts on mobile
//TODO 7. Redo background image


html
  head
    title Zecharia's Portfolio
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="reset.css")
    link(rel="stylesheet" type="text/css" href="style.css")
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
  body
    div.bgimage
    header
      nav.main-nav
        ul
          li
            a(href='#intro') Top
          li
            a(href='#about') About Me
          li
            a(href='#portfolio') My Portfolio
      nav.mobile-nav
        div.dropdown
          button.dropbtn Menu
            div.dropdown-content
              li
                a(href='#intro') Top
              li
                a(href='#about') About Me
              li
                a(href='#portfolio') My Portfolio

      h2 Z


    section.intro#intro
      h1 Zecharia Mahler
      h3 Front End Developer/Tinkerer



    section.about#about

      h1 Who am I?

      div.aboutgroup1
        img(src='images/profile photo.jpg' alt='Me')

        p I am a huge fan of technology and the web. I started my journey into a deeper understanding of the technology behind the internet a few months ago.

      h2 What tools do I use?

      div.logogroup1
        //TODO: write short sections about what the tools are for in between the logos
        img.logo(src='images/Unofficial_JavaScript_Logo.svg' alt='Javascript Logo')
        img.logo(src='images/HTML5_Logo.svg' alt='HTML5 Logo')
        img.logo(src='images/CSS3_Logo.svg' alt='CSS3 Logo')
      div.logogroup1
        //img.logo(src='images/Pug_Logo.svg' alt='Pug Logo')
        //img.logo(src='images/Sass_Logo_(Color).svg' alt='Sass Logo')
        img.logo(src='images/Github_Logo.svg' alt='Github Logo')

        img.logo(src='images/jQuery_Logo.svg' alt='jQuery Logo')

      h2 What are my goals/passions?
      p I have a huge passion for learning. I adore tinkering with things, figuring out how they work and how to change them.

    //TODO: Write sections about what tools I used for each project, and what I learned in the process
    section.portfolio#portfolio
      h1 Here are some cool things I've done:
      div.imagerow
        a.project(href='https://crowsveldt.github.io/FreeCodeCamp-Tribute-Page/' target='_blank')
          img(src='images/Stan Rogers.png' alt='Stan Rogers Tribute Page')
        a.project(href='https://crowsveldt.github.io/FreeCodeCamp-Random-Quote-Generator/' target='_blank')
          img(src='images/Random Quote.png' alt='Random Quote Generator')
        a.project(href='http://codepen.io/CrowsVeldt/full/EgyGpP/' target='_blank')
          img(src='images/Local Weather.png' alt='Local Weather App')

      div.imagerow
        a.project(href='https://crowsveldt.github.io/Free-Code-Camp-Wikipedia-Viewer/' target='_blank')
          img(src='images/Wiki Viewer.png' alt='Wikipedia Viewer')
        a.project(href='https://crowsveldt.github.io/do-not-go-gentle-into-that-good-night/' target='_blank')
          img(src='images/Do Not Go Gentle.png' alt='Animated Poem')
        img(src='http://www.360fashion.net/wp-content/uploads/2012/09/image-placeholder-500x500.jpg' alt='Placeholder Image')

    footer
      div.links
        p Check me out:
        a(href='https://www.linkedin.com/in/zechy-mahler-2a0738a2?trk=nav_responsive_tab_profile' target='_blank')
          span.fa.fa-linkedin   Linkedin
        a(href='https://github.com/CrowsVeldt' target='_blank')
          span.fa.fa-github   Github
        a(href='http://codepen.io/CrowsVeldt/' target='_blank')
          span.fa.fa-codepen  Codepen
      div.copyright
        p Made with Atom, Pug, and Sass by Zecharia Mahler, Copyright 2016


    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src='script.js')
