:root {
  font-size: 16px;
}

html, body {
  font-size: 16px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  position: relative;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

@media (min-width: 441px) {
  .bgimage {
    background-image: url("images/boards - 720.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    opacity: 0.5;
    position: absolute;
    z-index: -5;
    height: 100%;
    width: 100%;
  }
  .intro {
    background-image: url("images/boards - 720.jpg");
    background-size: cover;
  }
}

@media (max-width: 440px) {
  .bgimage {
    background-color: tan;
    opacity: 0.5;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
  }
  .intro {
    background-image: url("images/boards - 480.jpg");
    background-size: cover;
  }
}

header {
  background-color: black;
  color: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

header h2 {
  margin-left: 20px;
  margin-right: auto;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

@media (min-width: 441px) {
  nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav a, .main-nav a:visited {
    color: white;
    text-decoration: none;
    padding: 20px;
  }
  .main-nav a:hover {
    color: white;
    text-decoration: none;
    padding: 20px;
    background-color: green;
  }
  .mobile-nav {
    display: none;
  }
}

@media (max-width: 440px) {
  nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav {
    display: none;
  }
  .dropdown {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    right: 0;
  }
  .dropbtn {
    padding: 16px;
    cursor: pointer;
    color: white;
    border: solid;
    border-width: thin;
    border-color: black;
    background-color: black;
    font-size: 1rem;
  }
  .dropbtn:hover {
    background-color: green;
  }
  .dropbtn:hover .dropdown-content {
    position: absolute;
    display: block;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .dropbtn:hover .dropdown-content a .dropdown-content {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    right: 0;
  }
  .dropdown-content {
    position: absolute;
    display: none;
    min-width: 160px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
  }
  .dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: black;
    right: 0;
  }
}

.intro {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro h1, .intro h3 {
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.about {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  padding: 20px;
  min-height: 100vh;
}

.about h1 {
  padding-top: 60px;
}

.about .logo {
  margin-top: 20px;
  height: 160px;
  width: 160px;
}

.about .aboutgroup1 {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .aboutgroup1 img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  margin: 20px;
}

.about .aboutgroup1 p {
  max-width: 40%;
  min-width: 200px;
  margin: 0 auto 10px;
}

.portfolio {
  text-align: center;
  padding-bottom: 120px;
  min-height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.portfolio h1 {
  padding-top: 60px;
}

.portfolio .project img {
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 1px solid black;
  box-shadow: 0px 20px 5px -10px rgba(0, 0, 0, 0.5);
  transition: all cubic-bezier(0.5, 0, 0.5, 3.5) 0.15s;
}

.portfolio .project:hover img {
  box-shadow: 0px 35px 10px -20px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate(0px, -5px);
      -ms-transform: translate(0px, -5px);
          transform: translate(0px, -5px);
}

.portfolio img {
  height: 200px;
  width: 200px;
  margin: 20px;
  border: 1px solid black;
}

footer {
  position: absolute;
  width: 100%;
  height: 120px;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links a {
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer .links a:hover {
  color: purple;
}

footer .links p {
  margin: 10px;
}

footer .copyright {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hidden {
  display: none;
}
